:root {
  --text-color: #f3ffbd;
  --accent-color: #ff1453;
  --background-color: #a4c9f7;
  --icon-color: Coral;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.nav_logo {
  font-size: 24px;
  color: var(--text-color);
}

.nav_logo i {
  color: var(--icon-color);
}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_menu li {
  padding: 8px 12px;
}

.nav_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.nav_icons {
  list-style: none;
  color:  var(--text-color);
  display: flex;
  padding-left: 0;
}

.nav_icons li {
  padding: 8px 12px;
}

.nav_toggle {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--icon-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px
  }
  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav_menu li {
    width: 100%;
    text-align: center;
  }
  .nav_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .nav_toggle {
    display: block;
  }
  .nav_menu.active,
  .nav_icons.active {
    display: flex;
  }
}
